* {
  all: unset;
}

.mute-container {
  background-color: rgba(92,189,136,0.8);
  border: 3px solid #31342B;
  border-radius: 12px;
  min-width: 48px;
  min-height: 48px;
}

.mute-icon {
  font-size: 34px;
  color: #BB2A39; /* Dezent rotes Mute-Icon */
}
