@import url("file:///home/vetula/.assets/css/colortheme.css");
/* The name of the window itself */
#window {
  font-family: 'JetBrainsMonoNF-Regular';
  font-size:20px;
  background: url('/home/vetula/.assets/wallhaven-6opprx.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-radius: 24px;
  border: 3px solid @quaternary-color
  /* The name of the box that contains everything */
}
#window #outer-box {
	/* The name of the search bar */
  /* The name of the scrolled window containing all of the entries */
}
#window #outer-box #input {
  background-color: rgba(24, 24, 24, 1.0);
  color: #9DB3AC;
  border: none;
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}
#window #outer-box #input:focus, #window #outer-box #input:focus-visible, #window #outer-box #input:active {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: @accent-active-color;
}
#window #outer-box #scroll {
	/* The name of the box containing all of the entries */
}
#window #outer-box #scroll #inner-box {
	border-radius: 24px;
  /* The name of all entries */
  /* The name of all boxes shown when expanding  */
}
#window #outer-box #scroll #inner-box #entry {
  background-color: rgba(24, 24, 24, 0.0);
  padding: 0.6rem 1rem;
  color: @primary-color; 
  /* The name of all images in entries displayed in image mode */
  /* The name of all the text in entries */
}
#window #outer-box #scroll #inner-box #entry #img {
  width: 1rem;
  margin-right: 0.5rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
  color: #ae667e;
  background-color: @secondary-color;
  outline: none;
  border-radius: 0px 0px 24px 24px;
  border: 3px solid @quaternary-color
}
#window #outer-box #scroll #inner-box #entry #selected #text {
  color: @accent-inactive-color;
}
#window #outer-box #scroll .vertical.right.overlay-indicator{
	color: #ff0000;
	background: rgba(0,0,0,0.0);
	border-radius: 0px 0px 24px 24px;
	scrollbar-color: #ff0000 #000000;
}
